      <div class="bottom-button">
                  <div class="red-btn">
                    <span class="change_lang" lan="sell">SELL</span>
                  </div>
                  <div class="blue-btn">
                    <span class="change_lang" lan="buy">BUY</span>
                  </div>
                </div>
          </div>