<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="EtherFlyer is Decentralized exchange built on Ethereum.">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css"  rel="stylesheet">
    <link href="css/login.css"  rel="stylesheet">
    <title>TCASH/ETH - EtherFlyer</title>
    <meta name="description" content="EtherFlyer is Decentralized exchange built on Ethereum." data-react-helmet="true">
</head>


<body>
    <div id="app">
        <div ng-app="mainModule" ng-controller="mainController">
           
            <exchage-header></exchage-header>
            
            <div ng-show="swith.chart_order_trade=='chart'">
            <main class="main">
             <div class="sub_tab">
            <div class="tab_content">
            <span class="candle" lan="candle" ng-click="chart_dept=true;">Candle</span>
            <span class="depth" lan="depth" ng-click="chart_dept=false;">Depth</span>
            </div>
            </div>    
            <div ng-if="chart_dept==true">
            <market-price-chart></market-price-chart>
            </div>
            <div ng-if="chart_dept==false">
            <order-book></order-book>
            </div>
            <buy-sell-btn></buy-sell-btn>
            </main>
           </div>
            
            <div ng-show="swith.chart_order_trade=='order'">
                
                <switch-openorder-history></switch-openorder-history>
                <div ng-show="swith.openorder_history==true">
                <open-orders></open-orders>
                </div>
                <div ng-show="swith.openorder_history==false">
                <traded-orders></traded-orders>    
                </div>
            </div>
             
            <div ng-show="swith.chart_order_trade=='trade'">
               <div class="data_content">
                <trade-history></trade-history>
                <balance></balance>
               </div>
              
            </div> 
        </div>
    </div>
</body>
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/highcharts/highstock.js"></script>
<script src="../../bower_components/highcharts/modules/exporting.js"></script>
<script src="../../bower_components/highcharts/themes/dark-unica.src.js" id="highcharts-dark"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="../../bower_components/angular-sessionstorage/angular-sessionstorage.js"></script>
<script src="../../bower_components/angular.uuid2/dist/angular-uuid2.js"></script>
<script src="../../bower_components/bootbox.js/bootbox.js"></script>
<script src="marketPriceChart/marketPriceChart.js"></script>
<script src="tradeHistory/tradehistory.js"></script>
<script src="balance/balance.js"></script>
<script src="openOrders/openOrders.js"></script>
<script src="orderBook/orderBook.js"></script>
<script src="tradedOrders/tradedOrders.js"></script>
<script src="header/header.js"></script>
<script src="login/login.js"></script>
<script src="login/signup.js"></script>
<script src="mainModule.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/language.js"></script>
<script>
    $(".user_info").click(function(){
        $("#signupModal").modal();
    });
    $(".close").click(function(){
        $("#signupModal").modal("hide");
        $("#loginModal").modal("hide");
    }); 
    /*$(".sign_up").click(function(){
        $("#signupModal").modal("hide");
        $("#loginModal").modal();
    });*/
    $(".bottom-button div").click(function(){
        $(".bootbox-confirm").modal();
    });
    $(".btn-default,.btn-primary").click(function(){
        $(".bootbox-confirm").modal("hide");
    });
    $(".candle").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        $(".depth_table").hide();
        $(".candle_chart").show();
    });
    $(".depth").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        $(".depth_table").show();
        $(".candle_chart").hide();
    });
    $(".type_selected").click(function(){
        $(".type_option").slideToggle();
    });
    $(".type_option div").click(function(){
        var text = $(this).text();
        $(".type_option").slideToggle();
        $(".selected_option").text(text);
    });
</script>
</html>