









                  <div  ng-controller="tradeHistoryController">
                    <div  style="width: inherit;">
                      <div class="data_title">
                        <span class="change_lang" lan="price">Price</span>
                        <span class="change_lang" lan="amount">Amount</span>
                      </div>
                      <div style="color:white;">
                        <div class="chart_col">
<!-- Sell Start -->
                          <div ng-repeat="historyPrice in tradeHistory | filter:{BuyOrSell:true} | limitTo : 10 track by $index" class="table-row">
                            <span class="table-top red">
                              {{historyPrice.Price | number : 4}}
                              <span class="decimal"></span>
                            </span>
                            <span>
                             {{historyPrice.Amount | number : 4}}
                              <span class="  decimal"></span>
                            </span>
                          </div>
                         
<!-- Sell End -->
                        </div>
                        <div class="chart_col">
<!-- Buy Start -->
                          <div ng-repeat="historyPrice in tradeHistory | filter:{BuyOrSell:false} | limitTo : 10 track by $index"  class="table-row">
                            <span class="  table-top blue">
                              {{historyPrice.Price | number : 4}}
                           
                            </span>
                            <span>
                             {{historyPrice.Amount | number : 4}}
                            
                            </span>
                         
                          </div>
                          
<!-- Buy End -->
                        </div>
                      </div>
                    </div>
                  </div>



              


                 
      