
<div>


            <div class="my_history">
                <div class="table-box main-bottom" >
                    <div class="table-container">
                        <table class="main-table">
                                <thead>
                                <tr>
                                <th class="change_lang" lan="date">Date</th>
                                <!--<th>Type</th>-->
                                <th class="change_lang" lan="amount">Amount</th>
                                <th class="change_lang" lan="total" >Price</th>
                                <th class="change_lang" lan="total">Total</th>

                                </tr>
                                </thead>
                            <tbody>
                                 <tr ng-repeat="tradedOrder in tradedOrders track by $index">
                        <td>{{tradedOrder.Date | date:'HH:mm:ssa'}}</td>
                        <!--<td ng-if="tradedOrder.Type==1">卖单</td>
                        <td ng-if="tradedOrder.Type==2">买单</td>-->
                        <td style="color:#fff">{{tradedOrder.Amount}}</td>
                        <td ng-if="tradedOrder.PriceUp==true" style="color: red">{{tradedOrder.Price}}</td>
                        <td ng-if="tradedOrder.PriceUp==false" style="color: green">{{tradedOrder.Price}}</td>
                        <td style="color:#fff">{{tradedOrder.Total}}</td>
                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
</div>
