

<div ng-controller="openOrdersController">

         <div class="op_order">
                    <div class="table-box main-bottom">
                        <div class="table-container">
                            <table class="main-table">
                                <thead>
                                    <tr>
                                        <th class="change_lang" lan="date">Date</th>
                                        <th class="change_lang" lan="type">Type</th>
                                        <th class="change_lang" lan="amount">Amount</th>
                                        <th class="change_lang" lan="price">Price</th>
                                        <th class="change_lang" lan="total">Total</th>
                                        <th class="change_lang" lan="cancel">Cancel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="openOrder in user.openOrders track by $index">
                                        <td>{{openOrder.Date | date:'HH:mm:ssa'}}</td>
                                         <td style="text-align:center;" ng-if="openOrder.Type==1">Buy</td>
                                         <td style="text-align:center;" ng-if="openOrder.Type==2">Sell</td>
                                        <td class="white">{{openOrder.Amount}}</td>
                                         <td style="text-align:center;" ng-if="openOrder.PriceUp==true" style="color: red">{{openOrder.Price}}</td>
                                         <td style="text-align:center;" ng-if="openOrder.PriceUp==false" style="color: green">{{openOrder.Price}}</td>
                                        <td style="text-align:center;">{{openOrder.Total}}</td>
                                        <td style="text-align:center;">
                                            <button ng-if="openOrder.Cancel==false" type="button" class="btn btn-primary" style="width:70px;height:20px;text-align:center;line-height:0px;" ng-click="cancel(openOrder.orderid);" autocomplete="off">Cancel</button>
                                            <span ng-if="openOrder.Cancel==true">Cancelled</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</div>
