
.data_total .blue-num{width:100%;text-align:end;font-size:14px;color:#0f8dbc;}

.data_total .num{-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;text-align:end;font-size:24px;color:#FFFFFF;-webkit-transition:.2s color;transition:.2s color;border-radius:4px;}@media (max-width:360px){.data_total .num{font-size:18px;}}

.data_total{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:15px;background-color:#122028;}@media (max-width:360px){.hlJrmV{padding:10px 12px;}}


.data_total .content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}


.data_total .type{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;font-size:24px;color:#FFFFFF;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}@media (max-width:360px){.iBijH{font-size:18px;}}


.chart{width:100%;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;}.chart svg{position:relative;}.chart .highcharts-range-selector-buttons{-webkit-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);}.chart .highcharts-range-selector-buttons > text{-webkit-fill:#5D6C75!important;fill:#5D6C75!important;display:none;}.chart .highcharts-area.zone-buy{-webkit-fill:rgba(19,191,153,0.3);fill:rgba(19,191,153,0.3);}.chart .highcharts-area.zone-sell{-webkit-fill:rgba(252,19,44,0.3);fill:rgba(252,19,44,0.3);}.chart .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line{stroke:#26343C;}.chart .highcharts-crosshair.highcharts-crosshair-thin.undefined{stroke:#5D6C75;}.chart .highcharts-axis-labels.highcharts-xaxis-labels text{-webkit-fill:#FFFFFF !important;fill:#FFFFFF !important;}.chart .highcharts-axis-line{stroke:transparent;}.chart .highcharts-point.highcharts-point-down{-webkit-fill:#FD4559;fill:#FD4559;stroke:#FD4559;stroke-width:1;}.chart .highcharts-point.highcharts-point-up{-webkit-fill:#0f8dbc;fill:#0f8dbc;stroke:#0f8dbc;stroke-width:1;}.chart .title{text-align:center;margin-bottom:5px;color:#FFFFFF;}.chart .row{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;font-size:10px!important;}.chart .value{margin-left:5px;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;text-align:end;}.chart .high,.chart .bid{color:#0f8dbc;}.chart .low,.chart .ask{color:#FD4559;}.chart .bid,.chart .ask{font-size:12px;}.chart .bid{-webkit-transform:translate(-50%,2px);-ms-transform:translate(-50%,2px);transform:translate(-50%,2px);}.chart .bid:before{font-size:10px;color:#AAB9C2;content:'highest bid';}.chart .ask{-webkit-transform:translate(50%,2px);-ms-transform:translate(50%,2px);transform:translate(50%,2px);}.chart .ask:after{font-size:10px;color:#AAB9C2;content:'lowest ask';}

.select_type{height:36px;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;padding:5px 15px;background-color:#122027;}

.select_type .active{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;border-radius:4px;border:solid 1px #AAB9C2;font-size:12px;padding:3px;margin-right:5px;text-align:center;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#122027;background-color:#AAB9C2;}
.select_type .in_active{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;border-radius:4px;border:solid 1px #AAB9C2;font-size:12px;padding:3px;margin-right:5px;text-align:center;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#AAB9C2;background-color:#122027;}

.sub_tab{height:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 10px;}

.tab_content{color:#5e6c75;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:12px;padding:5px;margin-right:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.tab_content span{
	display: inline-block;
    padding-right: 15px;
}
.tab_content .active{
	color:#0f8dbc;
}

.red{color:#ff435a;}
.ebfFc{color:#0f8dbc;}
.decimal{color:#5E6C75;}
.white{color:#FFFFFF;}

.table-row{width:100%;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;font-size:12px;}@media (max-width:360px){.table-row{font-size:8px;}}

.table-left{-webkit-flex:1 1 50%;-ms-flex:1 1 50%;flex:1 1 50%;text-align:start;margin-right:4px;z-index:1;}

.red-bar{-webkit-flex-basis:0;-ms-flex-basis:0;flex-basis:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;height:11px;background-color:#ff435a;opacity:0.3;position:absolute;left:0px;bottom:3px;}@media (max-width:360px){.red-bar{left:0px;height:9px;}}
.blue_bar{-webkit-flex-basis:0;-ms-flex-basis:0;flex-basis:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;height:11px;background-color:#0f8dbc;opacity:0.3;position:absolute;right:0px;bottom:3px;}@media (max-width:360px){.blue_bar{right:0px;height:9px;bottom:1px;}}

.table-content{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:10px;}

.table-header{-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;height:46px;padding:15px;font-size:12px;font-weight:500;color:#AAB9C2;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.table-header > span{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;}.table-header > span:last-child{-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;}
.fl{
	float:left;
	width:50%;
}
@media (max-width:360px){.table-header{height:36px;padding:10px 12px;}}
/* sc-component-id: sc-dNLxif */

*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}html{box-sizing:border-box;cursor:default;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,footer,header,nav,section{display:block}body{margin:0}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}nav ol,nav ul{list-style:none}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg{fill:currentColor}svg:not(:root){overflow:hidden}table{border-collapse:collapse}button,input,optgroup,select,textarea{margin:0}button,input,select,textarea{background-color:transparent;color:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto;resize:vertical}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[tabindex],a,area,button,input,label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}[hidden]{display:none}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-hidden=false][hidden]:not(:focus){clip:rect(0,0,0,0);display:inherit;position:absolute}[aria-disabled]{cursor:default}



html,body,#app{width:100%;background-color:#122028;}body{font-family:'Open Sans','PingFangTC','Arial','Heiti TC','Microsoft Jhenghei',sans-serif;font-size:14px;-webkit-letter-spacing:1px;-moz-letter-spacing:1px;-ms-letter-spacing:1px;letter-spacing:1px;}h1{font-size:24px;}h2{font-size:18px;}h3{font-size:16px;}p,label{font-size:14px;line-height:1.5em;}a{text-decoration:none;}video::-webkit-media-controls-timeline{visibility:hidden;}input:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:none;}/* </style> */


.logo{cursor:pointer;padding:10px 0px;float: left;}
.logo text{color:#0f8dbc;cursor:default;font-size:14px;fill:#666666;}
/* sc-component-id: sc-htpNat */


.user{padding:10px 0px;cursor:pointer; float:right}


header{height:56px;padding:5px;}


.tab{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:40px;background-color:#26343C;}

.tab a {
	color: #5e6c75;
}
.tab .active{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:33vw;-ms-flex-basis:33vw;flex-basis:33vw;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:14px;font-weight:400;height:100%;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-bottom:2px solid #5E6C75;color:#FFFFFF;border-color:#FFFFFF;}
.tab .in_active{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:33vw;-ms-flex-basis:33vw;flex-basis:33vw;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:14px;font-weight:400;height:100%;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-bottom:2px solid #5E6C75;color:#5e6c75;border-color:#5e6c75;}

.bottom-button{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;    position: fixed;
    bottom: 0px;
    width: 100%;}

.bottom-button div{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;font-size:24px;font-weight:300;padding:10px;}@media (max-width:360px){.bottom-button div{font-size:18px;padding:8px;}}


.red-btn{color:#ffffff;background-color:#ff435a;}

.blue-btn{color:#ffffff;background-color:#0f8dbc;}

.depth_table{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:30vw;-ms-flex-basis:30vw;flex-basis:30vw;margin-right:0px;background-color:#122028;position:relative;}

.main{width:100%;-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.data{position:relative;background-color:#26343C;}


.bootbox-confirm{
	color:white;
}
.type_option{
	display:none;    
	position: absolute;
    top:4.5rem;
    background: rgb(18, 32, 40);
    z-index: 100;
	width: 18rem;
    left: 0px;
    padding-left: 15px;
    padding-right: 20px;
    box-shadow: rgb(38, 52, 60) 0px 5px 10px;
	border-radius:0px 0px 5px 5px;
}
.main-bottom thead th {
    line-height: 36px;
    font-size: 12px;
    color: #AAB9C2;
    text-align: center;
    font-weight: normal;
}

.main-bottom tbody tr {
    height: 17px!important;
}

.main-bottom tbody td {
    font-size: 12px;
    color: #5E6C75;
    line-height: 17px;
    text-align: center;
}

.red {
    color: #ff435a!important;
}

.white {
    color: #fff !important;
}

.blue {
    color: #0f8dbc;
}


/* table {
    background-color: #122028;
    height: 100%;
} */

.main-table {
    background-color: #26343C;
    width: 100%;
}

.main-bottom-right .left-table,
.main-bottom-right .right-table {
    float: left;
    width: 50%;
    border-right: 1px solid #26343C;
    box-sizing: border-box;
}

.table-box {
    background-color: #122028;
}

th {
    text-align: center;
}
.bootbox-body{
	color:white;
}
.btn{
	padding: 1px 8px;
    font-size: 1rem;
}
/*trade*/
.red-bar-col{-webkit-flex-basis:0;-ms-flex-basis:0;flex-basis:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;height:11px;background-color:#ff435a;opacity:0.3;position:absolute;right:-15px;bottom:3px;}@media (max-width:360px){.bjhpbU{right:-12px;height:9px;bottom:1px;}}
.table-top{
	-webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    /* flex: 1 1 50%; */
    text-align: start;
    margin-right: 4px;
    z-index: 1;
}
.data_content{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:60vh;-ms-flex-basis:60vh;flex-basis:60vh;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.data_title{-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;height:46px;padding:15px;font-size:12px;font-weight:500;color:#AAB9C2;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.data_title > span{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;}.data_title > span:last-child{-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;}@media (max-width:360px){.data_title{height:36px;padding:10px 12px;}}
.content_left{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:30vw;-ms-flex-basis:30vw;flex-basis:30vw;margin-right:8px;background-color:#122028;position:relative;}
.content_left_chart{position:absolute;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.chart_col{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0 15px;margin-bottom:15px;}.chart_col:last-child{margin-bottom:0;}@media (max-width:360px){.chart_col{padding:0 12px;}}
.blue-bar-col{-webkit-flex-basis:0;-ms-flex-basis:0;flex-basis:0;-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;height:11px;background-color:#0f8dbc;opacity:0.3;position:absolute;right:-15px;bottom:3px;}@media (max-width:360px){.blue-bar-col{right:-12px;height:9px;bottom:1px;}}
.content_right{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:55vw;-ms-flex-basis:55vw;flex-basis:55vw;background-color:#122028;position:relative;}
.content_right_form{position:absolute;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:100%;width:100%;}
.content_right_tab{-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:52px;}@media (max-width:360px){.content_right_tab{height:40px;}}
.content_right_tab .active{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:33%;-ms-flex-basis:33%;flex-basis:33%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:14px;font-weight:400;height:100%;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-bottom:2px solid #5E6C75;color:#FFFFFF;border-color:#FFFFFF;}
.content_right_tab .in_active{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;-webkit-flex-basis:33%;-ms-flex-basis:33%;flex-basis:33%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;font-size:14px;font-weight:400;height:100%;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-bottom:2px solid #5E6C75;color:#5e6c75;border-color:#5e6c75;}
.form{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:15px;}
.form_content{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;margin-top:6px;margin-bottom:30px;}
.form_input{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;width:100%;height:30px;margin-top:26px;border-bottom:1px solid #5E6C75;}@media (max-width:360px){.form_input{height:24px;margin-top:18px;}}
.input_name{position:absolute;left:0;bottom:5px;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;font-size:16px;font-weight:500;text-align:left;color:#5E6C75;pointer-events:none;-webkit-transition:.3s -webkit-transform,.3s color;-webkit-transition:.3s transform,.3s color;transition:.3s transform,.3s color;-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;-ms-transform:none;transform:none;}
.input_unit{width:34px;font-size:12px;font-weight:500;text-align:right;color:#5E6C75;}
.you_pay{position:absolute;left:0;bottom:5px;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;font-size:16px;font-weight:500;text-align:left;color:#5E6C75;pointer-events:none;-webkit-transition:.3s -webkit-transform,.3s color;-webkit-transition:.3s transform,.3s color;transition:.3s transform,.3s color;-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:translateY(-20px) scale(.65);-ms-transform:translateY(-20px) scale(.65);transform:translateY(-20px) scale(.65);}
.you_pay_amount{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;width:40px;border:none;font-size:16px;font-weight:500;text-align:left;margin-right:5px;color:#0f8dbc;pointer-events:none;}.you_pay_amount:focus{outline:none;}
.input_content{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;width:40px;border:none;font-size:16px;font-weight:500;text-align:left;margin-right:5px;color:#0f8dbc;pointer-events:auto;}.input_content:focus{outline:none;}
.button_buy{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;font-size:18px;font-weight:300;padding:6px;border-radius:4px;background-color:rgba(0,0,0,0);}@media (max-width:360px){.button_buy{font-size:16px;padding:4px;}}
.button_blue{-webkit-flex-grow:0;-ms-flex-grow:0;flex-grow:0;color:#FFFFFF;font-size:24px;border-radius:8px;background-color:#0f8dbc;}@media (max-width:360px){.button_blue{font-size:18px;}}
.button_sell{-webkit-flex-grow:1;-ms-flex-grow:1;flex-grow:1;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;font-size:24px;font-weight:300;padding:6px;}@media (max-width:360px){.button_sell{font-size:18px;padding:6px;}}
.button_red{color:white;    background-color: #ff435a;
    border-radius: 8px;}
@media (max-width: 360px){
.data_total {
    padding: 10px 12px;
}
}
	

