<div ng-controller="headerController">
           <header class="clearfix">
            <div class="logo">
              <span class="">
                <img src="logo6.png" />
              </span>
              <span>
                <text  text-anchor="middle" transform="translate(0,0)" opacity="1">
                EtherFlyer</text>
              </span>
            </div>
            <span class="user">
                <span>
                    <a  href="javascript:void(0)"  style="color:#0f8dbc;" class="user_info">{{header.ethAddressShow}}</a>
                </span>

                <select STYLE="color:#0f8dbc;" class="language">
                <option value="1" style="background-color: #122028">English</option>
                <option value="2" style="background-color: #122028">日本語</option>
                <option value="3" style="background-color: #122028">한국어</option>
                <option value="4" style="background-color: #122028">中国语</option>
                </select>
              </span>
            </span>
          </header>
            <main class="main">
            <swith></swith>
            <div class="data">
                <div class="data_total">
                  <div class="content">
                    <div class="type">
                     
                     <select style="color: #0f8dbc;"> 
                        <option ng-repeat="pair in header.pairs track by $index">{{pair}}</option>
                    </select>
                    </div>
                    <div class="type_option">
                        <div class="type">TCASH/ ETH 1</div>
                        <div class="type">TCASH/ ETH 2</div>
                        <div class="type">TCASH/ ETH 3</div>
                    </div>
                    <div class="num">
                      <span>{{header.tradePrice|number:4}}</span>
                    </div>
                  </div>
                      <div class="blue-num">
                        <span>{{header.changeRate|number:2}}%</span>
                      </div> 
                </div>
            </div>
        </main>
</div>

