<div ng-show="swith.chart_order_trade=='chart'" class="tab">
              <div class="active">
                <a href="#" ng-click="chartOrderTradeChange('chart')" class="change_lang" lan="open_orders">
                <span lan="charts">Charts</span>
                </a>
              </div>
              <div class="in_active">
                <a href="#" class="change_lang" ng-click="chartOrderTradeChange('trade')" lan="trade">Trade</a>
              </div>
              <div class="in_active">
                <a href="#" class="change_lang"   ng-click="chartOrderTradeChange('order')" lan="open_orders">Open Orders</a>
              </div>
</div>

<div ng-show="swith.chart_order_trade=='trade'" class="tab">
              <div class="in_active">
                <a href="#" ng-click="chartOrderTradeChange('chart')" class="change_lang" lan="open_orders">
                <span lan="charts">Charts</span>
                </a>
              </div>
              <div class="active">
                <a href="#" class="change_lang" ng-click="chartOrderTradeChange('trade')" lan="trade">Trade</a>
              </div>
              <div class="in_active">
                <a href="#" class="change_lang"   ng-click="chartOrderTradeChange('order')" lan="open_orders">Open Orders</a>
              </div>
</div>

<div ng-show="swith.chart_order_trade=='order'" class="tab">
              <div class="in_active">
                <a href="#" ng-click="chartOrderTradeChange('chart')" class="change_lang" lan="open_orders">
                <span lan="charts">Charts</span>
                </a>
              </div>
              <div class="in_active">
                <a href="#" class="change_lang" ng-click="chartOrderTradeChange('trade')" lan="trade">Trade</a>
              </div>
              <div class="active">
                <a href="#" class="change_lang"   ng-click="chartOrderTradeChange('order')" lan="open_orders">Open Orders</a>
              </div>
</div>