                       <div ng-if="swith.balancd_history==true" class="content_right_tab">
                        <div class="buy active">
                          <span class="change_lang" lan="buy_tcash">Buy TCASH</span>
                        </div>
                        <div class="sell in_active" ng-click="swith.balancd_history=false;" style="width: 130px;">
                          <span class="change_lang" lan="sell_tcash">Sell TCASH</span>
                        </div>
                      </div>

                      <div ng-if="swith.balancd_history==false" class="content_right_tab">
                        <div class="buy in_active" ng-click="swith.balancd_history=true;">
                          <span class="change_lang" lan="buy_tcash">Buy TCASH</span>
                        </div>
                        <div class="sell active" style="width: 130px;">
                          <span class="change_lang" lan="sell_tcash">Sell TCASH</span>
                        </div>
                      </div>