
 <div ng-controller="balanceController">
                    <div>
                <swith-balance></swith-balance>


                      <div class="form">
                        <div class="form_content">
                          <div class=" form_input">
                           
                            <input type="number" ng-model="balace.buyTCash.amout" class="input_content" value="" pattern="[0-9]*" color="#0f8dbc" placeholder="Amount">
                            <div class="input_unit">TCASH</div>
                          </div>
                          <div class="form_input">
                            <input type="number" ng-model="balace.buyTCash.price" class="input_content" value="" pattern="[0-9]*" color="#0f8dbc" placeholder="Price">
                            <div class="input_unit">ETH</div>
                          </div>
                          <div class="form_input">
                            <div ng-if="swith.balancd_history==true" class="you_pay">
                              <span class="change_lang" lan="you_pay">You Pay</span>
                            </div>
                            <div ng-if="swith.balancd_history==false" class="you_pay">
                              <span class="change_lang" lan="you_pay">You Get</span>
                            </div>
                            <input type="number" ng-model="balace.buyTCash.youpay" class=" you_pay_amount" value="0.00" pattern="[0-9]*" color="#0f8dbc">
                            <div class=" input_unit">ETH</div>
                          </div>
                          <br>

                          <div ng-if="swith.balancd_history==true" class=" button_blue  button_buy" ng-click="buy('limit')">
                            <span class="change_lang" lan="buy">BUY</span>
                          </div>


                          <div ng-if="swith.balancd_history==false" class="button_red  button_sell" ng-click="sell('market')">
                            <span class="change_lang" lan="sell">SELL</span>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>

</div>
