<!-- 模态框（Modal） -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <h4 class="modal-title" id="loginModalLabel">
                    Sign in to your Wallet
                </h4>
            </div>

            <div class="modal-body">

                <div id="login-page">
                    <div id="explanation-text">
                        ETHERFLYER IS A DECENTRALIZED EXCHANGE BUILT ON ETHEREUM
                    </div>
                    <div id="formContainer">
                        <!--
                        <div class="or-container">
                            <hr class="or-hr">
                            <div id="or">or</div>
                        </div>
                    -->
                        <form id="login-form" action="" method="POST">
                            <label for="address">Wallet Address</label><br>
                            <input type="text" name="address" id="address" size="30" maxlength="100" placeholder="0x7f6756..." />
                            <br>
                            <label for="privateKey">Private Key</label><br>
                            <input type="password" name="privateKey" id="privateKey" placeholder="********" />

                            <br>
                            <br>

                            <input class="fr" type="button" data-dismiss="modal" aria-hidden="true" id="submit-button" name="submit-button" value="Sign in">
                            <div class="clear"></div>
                        </form>
                    </div>
                    <div id="switch">
                        Don't have an Wallet? <a href="" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#signupModal">Sign up</a>
                    </div>
                </div>

            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
                <button type="button" class="btn btn-primary">
					提交更改
				</button>
            </div>
        -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>