<!-- 模态框（Modal） -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true" ng-controller="signupController">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#26343C;">
            <div class="modal-header" style="color:#fff;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#fff;">
                        &times;
                    </button>
                <h4 class="modal-title" id="signupModalLabel">
                    Create your EtherFlyer Wallet
                </h4>
            </div>
            <div class="modal-body">

                <div id="login-page">
                    <div id="explanation-text" style="font-size:16px;">
                        <span style="font-size:35px;">WELCOME TO ETHERFLYER</span>
                        <BR>It Is A Decentralized Exchange Built On Ethereum
                    </div>
                    <div id="formContainer">
                        <form id="login-form" action="" method="POST">
                            <div id="account" ng-if="showLabel">
                                <label for="name">You just created an Ethereum Wallet</label>
                                <div class="alert alert-warning" style="word-break: break-all;padding:6px;">0x7f6756hYT783hur74hyd893jGY764us7s6890Iuys</div>
                                <label for="password">Please BACKUP the private key for this Wallet</label>
                                <div class="alert alert-warning" style="word-break: break-all;padding:6px;">b64brehu2nhj43hugfid78hju43njkt5489njkgr8u9nj5k4r89njkfd89</div>
                            </div>
                            <input ng-if="showSignupBtn" class="btn btn-warning" type="button" id="submit-button" name="submit-button" value="Create Your Wallet" ng-click="onSignupClick()">
                            <div style="width: 300px;margin: 0 120px;"><a ng-if="showSigninBtn" href="" data-dismiss="modal" aria-hidden="true" ng-click="onSigninClick()">Start trading &gt;&gt;&gt;</a></div>
                            <div class="clear"></div>
                        </form>
                    </div>
                    <div id="switch">
                        Already have an Wallet?<a href="" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#loginModal">Sign in</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>