<div ng-controller="orderBookController">

    <div class="depth_table">
                    <div class="table-content">
                      <div class="table-header">
                        <span class="change_lang" lan="amount">Amount</span>
                        <span class="change_lang" lan="price">Price</span>
                        <span class="change_lang" lan="price">Price</span>
                        <span class="change_lang" lan="amount">Amount</span>
                      </div>
                      <div style="color:white;">
                        <div class="fl ">
                          
<!-- Buy Start -->
                          <div class="table-row" ng-repeat="orderBook in orderBooks track by $index" >
                            <span class=" table-left">
                              {{orderBook.TCashAmount | number : 4}}
                              <span class="decimal">.00</span>
                            </span>
                            <span class="">
                             {{orderBook.TCashPrice | number : 4}}
                              <span class="decimal"></span>
                            </span>
                            <span class="blue_bar" style="width: 4.95019%;"></span>
                          </div>

<!-- Buy End -->
                        </div>
                        <div class="fl">
<!-- Sell Start -->
                          <div class="table-row" ng-repeat="orderBook in orderBooks track by $index">
                            <span class="table-left red">
                              {{orderBook.ETHPrice | number : 4}}
                              <span class=" decimal"></span>
                            </span>
                            <span class="">
                              {{orderBook.ETHAmount | number : 4}}
                              <span class="decimal"></span>
                            </span>
                            <span class=" red-bar" style="width: 00.089541%;"></span>
                          </div>
                         
<!-- Sell End -->
                        </div>
                        
                      </div>
                    </div>
                  </div>
</div>